<div class="container-fluid">

  <div class="headers">
    <p>
      <h1>2016 Electoral College Vote Calculator</h1>
      <h4>by <%= link_to "Jeff Slutzky", "http://jeffslutzky.com" %></h4>

      Left-click: blue > red > unassigned<br />
      Right-click: red > blue > unassigned<br />
    </p>

    <div class="list-group">
      <div class="list-group-item active">
        Electoral vote tally <div class="btn btn-default reset">Reset</div>
      </div>
      <div class="list-group-item">
        Unassigned: <div id="unassigned">538</div><br />
      </div>
      <div class="list-group-item dem-tally">
        Democrats: <div id="dems">0</div><br />
      </div>
      <div class="list-group-item rep-tally">
        Republicans: <div id="reps">0</div><br />
      </div>
      <div class="list-group-item">
        <div class="btn btn-default reset">Save current map</div>
      </div>
    </div>

  </div>

  <div class="map" oncontextmenu="return false;">
  </div>

</div>
