<div class="container">

  <h1>2016 Electoral College Vote Calculator</h1>

  <p>
    Left-click: blue > red > unassigned<br />
    Right-click: red > blue > unassigned<br />
  </p>

  Total electoral votes:<br />

  Unassigned: <div id="unassigned">538</div><br />
  Democrats: <div id="dems">0</div><br />
  Republicans: <div id="reps">0</div><br />

  <!-- <div class="small-states">
    <p><form action="">
      D.C.<br />
      <input type="radio" name="dc" value="blue"> Democrat<br>
      <input type="radio" name="dc" value="red"> Republican<br>
      <input type="radio" name="dc" value="neutral"> Unassigned
    </form></p>

    <p><form action="">
      Rhode Island<br />
      <input type="radio" name="ri" value="blue"> Democrat<br>
      <input type="radio" name="ri" value="red"> Republican<br>
      <input type="radio" name="ri" value="neutral"> Unassigned
    </form></p>
  </div> -->

  <div class="map" oncontextmenu="return false;"></div>

</div>
