<div class="container">

  <h1>2016 Electoral College Vote Calculator</h1>
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>

  <div class="headers">
    <p>
      Left-click: blue > red > unassigned<br />
      Right-click: red > blue > unassigned<br />
    </p>

    <div class="votes">
      Total electoral votes:<br />

      Unassigned: <div id="unassigned">538</div><br />
      Democrats: <div id="dems">0</div><br />
      Republicans: <div id="reps">0</div><br />
    </div>

  </div>


  <div class="map" oncontextmenu="return false;">
    <div class="small-states">
      <p>DC</p>
      <p>RI</p>
    </div>
  </div>

</div>
