<div class="container">

  <h1>2016 Electoral College Vote Calculator</h1>

  Total electoral votes:<br />

  Unassigned: <div id="unassigned">538</div><br />
  Democrats: <div id="dems">0</div><br />
  Republicans: <div id="reps">0</div><br />

</div>
