<div class="container">

  <h1>2016 Electoral College Vote Calculator</h1>

  <p>
    On left-click: blue > red > unassigned<br />
    On right-click: red > blue > unassigned<br />
  </p>

  Total electoral votes:<br />

  Unassigned: <div id="unassigned">538</div><br />
  Democrats: <div id="dems">0</div><br />
  Republicans: <div id="reps">0</div><br />

  <div class="map" oncontextmenu="return false;"></div>

</div>
