// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  font-family: sans-serif;
}

// .small-states {
//   float: right;
// }

#states {
  stroke: #fff;
  stroke-width: 1.5px;
}

.neutral {
  fill: gray;
}

.blue {
  fill: blue;
}

.red {
  fill: red;
}

.ev {
  font-family: sans-serif;
}

#dems {
  display: inline;
}

#reps {
  display: inline;
}

#unassigned {
  display: inline;
}
