// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group {
  width: 260px;
  display:inline-block;
  font-size: 18px;
  line-height: 20px;
}

body a {
  color: blue;
}

body .list-group-item.active {
  background-color: #000000;
}

body .list-group-item.active:hover {
  background-color: #000000;
}

body .btn {
  padding: 5px 7px 2px;
  margin-left: 10px;
}

svg {
  display: block;
  margin: auto;
}

.headers {
  text-align: center;
}

#states {
  stroke: #fff;
  stroke-width: 0.5px;
}

.neutral {
  fill: gray;
}

.blue {
  fill: blue;
}

.red {
  fill: red;
}

.ev {
  font-family: sans-serif;
  font-size: .9em;
}

#dems {
  display: inline;
}

.dem-tally {
  color: blue;
}

#reps {
  display: inline;
}

.rep-tally {
  color: red;
}

#unassigned {
  display: inline;
}

.d3-tip {
  line-height: 1;
  font-family: sans-serif;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}

.winner {
  font-weight: bold;
  font-variant: small-caps;
  display: inline;
}

img {
  width: 20px;
  padding-bottom: 5px;
}
