// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group {
  width: 530px;
  display:inline-block;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0px;
}

.container-fluid {
  margin-bottom: 50px;
}

body a {
  color: blue;
}

body a:hover {
  color: red;
  text-decoration: none;
}

body .list-group-item.active {
  background-color: #000000;
}

body .list-group-item.active:hover {
  background-color: #000000;
}

.btn {
  padding: 5px 7px 2px;
}

.reset.btn {
  margin-left: 10px;
}

.alert {
  margin-top: 10px;
}

svg {
  display: block;
  margin: auto;
}

.headers {
  text-align: center;
}

.logout-btn {
  margin-left: 5px;
}

.map {
  margin-top: -30px;
}

#states {
  stroke: #fff;
  stroke-width: 0.5px;
}

.neutral {
  fill: gray;
}

.blue {
  fill: blue;
}

.red {
  fill: red;
}

.ev {
  font-family: sans-serif;
  font-size: .9em;
}

#dems {
  display: inline;
}

.dem-tally {
  color: blue;
  display: inline;
  margin: 0px 20px;
}

#reps {
  display: inline;
}

.rep-tally {
  color: red;
  display: inline;
}

#unassigned {
  display: inline;
}

.d3-tip {
  line-height: 1;
  font-family: sans-serif;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}

.winner {
  font-weight: bold;
  font-variant: small-caps;
  display: inline;
}

img {
  width: 19px;
}

.flex-container {
  display: flex;
}

.flex-item {
  width: 250px;
  border: 1px solid gray;
  padding: 10px;
  margin: 20px;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

footer {
  position:  fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

footer p {
  margin: 10px 0;
}
