// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .container {
//   width: 100%;
// }

.list-group {
  width: 200px;
  display:inline-block;
}

svg {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

.headers {
  text-align: center;
}

.small-states {
  position: absolute;
  left: 1225px;
  top: 600px;
}

.small-states p {
  margin: 5px;
  padding: 3px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: gray;
}

#states {
  stroke: #fff;
  stroke-width: 1.5px;
}

.neutral {
  fill: gray;
}

.blue {
  fill: blue;
}

.red {
  fill: red;
}

.ev {
  font-family: sans-serif;
  font-size: .9em;
}

#dems {
  display: inline;
}

#reps {
  display: inline;
}

#unassigned {
  display: inline;
}

.d3-tip {
  line-height: 1;
  font-family: sans-serif;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}
