// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.neutral {
  fill: gray;
}

.blue {
  fill: blue;
}

.red {
  fill: red;
}

.ev {
  color: red;
}

#dems {
  display: inline;
}

#reps {
  display: inline;
}
